@import "highlight.js/styles/github.css";

/*[data-theme="dark"] {
    --hljs-bg: #5e5e5e;
    --hljs-color: #dcdcdc;
}

.hljs {
    background: var(--hljs-bg);
    color: var(--hljs-color);
}*/

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 0;
}

body {
    background-color: #1e1e2f; /* 任意の色 */
    color: white;
    font-family: sans-serif;
}

#svelte {
    height: 100%;
}
